<!--
Copyright © Eric Cohen 2023
Main page to play the game. Has a board,
Very organized
-->
#Play
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Interactive Appliance</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/play.css">
</head>
<body>
  <header>
    <h1>Let's make some money!! </h1>
    <div id="name-form">
      <form><p>Enter your name, soldier</p><input type="text"></input>
    </div>
  </header>
  <body>
    <button id="Play">Play!</button>
    <section id="game_board">
      <div id="dealer" class="card-hand">
      </div>
      <div id="player" class="card-hand">
      </div>
    </section>
    <section id="play-buttons">
      <!-- Going to be hidden when in play -->
      <button>Go!</button>
      <!--Going to be hidden when not in play -->

    </section>
  </body>
