#Play
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Interactive Appliance</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/play.css">
</head>
<body>
  <header>
    <h1>Let's make some money!! </h1>
    <div id="name-form">  
      <form><p>Enter your name, soldier</p><input type="text"></input>
      <button>Go!</button>
    </div>
  </header>
