<!--
Copyright © Eric Cohen 2023
Main page to play the game. Has a board,
Very organized
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blackjack</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/play.css">
  <!--<script src="../static/play.js"></script>-->
</head>
<body>
  <header>
    <a href="/"><button type="button">Back.</button></a>
    <h1>Let's make some money!! </h1>
    <!-- Going to be hidden when in play -->
    <form method="POST" class="name-form {{hide_name}}">
  <!-- Submit your name -->
      <label name="username">{{tagline}}: <input type="text" name="user-inpt" /></label>
      <button type="submit" name="nametag" class="btn btn-primary">Go!</button>
    </form>
  </header>
  <main>
    <section id="game_board">
    <!-- Going to be re-rendering everytime with more cards
      -- Could honestly auto-gen the card-hands, but eh.
      -- Probably going to need to further educate myself on this one. -->
      <div id="dealer" class="card-hand">
        {% for card in cards %}
          <p class="card">{{card}}</p>
        {% endfor %}
      </div
      <div id="player" class="card-hand">
        {% for hand in hands %}
        <!-- Get request only -->
          <p class="card">{{hand}}</p>
        {% endfor %}
      </div>
    </section>
    <section id="play-buttons">
  <!-- Going to be hidden when not in play -->
      <form method="POST">
        <button type="submit" name="hit" value="Hit💪" class="btn btn-success">Hit💪</button>
        <button type="submit" name="stay" value="Stay⚠️" class="btn btn-danger">Stay⚠️</button>
        <!-- Probably not going to implement this with the time I have -->
        <button type="submit" name="split" value="Split🪓" class="btn btn-warning hidden">Split🪓</button>
      </form>
    </section>
    <section id="results" class={{results_hidden}}>
      <p id="result-text">{{result_text}}</p>
      <a href="/"><button type="button" class="btn btn-success">Back</button></a>
      <a href="/play.html"><button type="button" class="btn btn-danger">Play Again!</button></a>
      <!-- Probably not going to implement this with the time I have -->
      <a href="/surprise.html"><button type="button" class="btn btn-warning" class="hidden">Ooo lala</button></a>
    </section>
  </main>
</body>
